{% extends "home/layout.html.twig" %}

{% block title %} Edit Advert | MarketPlace{% endblock %}

{% block innersheets %}
    <style>
    /* Remove the dropdown arrow in most browsers */
    select {
        -webkit-appearance: none;  /* Safari and Chrome */
        -moz-appearance: none;     /* Firefox */
        appearance: none;          /* Standard syntax */
        background-image: none;    /* Remove background image in some browsers */
        padding-right: 0;          /* Adjust padding to ensure no space for the icon */
    }
    </style>
{% endblock %}

{% block main %}
    <div class="main-content">
        <div class="page-content">

            <!-- Start grid -->
                <section class="py-20 mt-14">
                    <div class="container mx-auto">
                        <div class="grid grid-cols-12 gap-y-10 lg:gap-10">

                            <div class="col-span-12 lg:col-span-4">
                                <div class="border rounded border-gray-100/50 dark:border-neutral-600">
                                    <div class="p-5 border-b border-gray-100/50 dark:border-neutral-600">
                                        <div class="text-center">
                                            {% if advert.user.image %}
                                            <img src="{{ asset('uploads/' ~ advert.user.image) }}" alt="" class="w-20 h-20 p-1 mx-auto border-2 rounded-full border-gray-200/20">
                                            {% else %}
                                            <img src="/assets/images/profile.jpg" alt="" class="w-20 h-20 p-1 mx-auto border-2 rounded-full border-gray-200/20">
                                            {% endif %}
                                            
                                            <h6 class="mt-4 mb-0 text-lg text-gray-900 dark:text-gray-50">{{ advert.user.fullname }}</h6>
                                            {# <p class="mb-4 text-gray-500 dark:text-gray-300">Developer</p> #}
                                            {# <ul class="flex flex-wrap justify-center gap-2 mb-0">
                                                <li class="w-10 h-10 text-lg leading-10 transition-all duration-300 ease-in-out rounded bg-violet-500/20 text-violet-500 hover:bg-violet-500 hover:text-white">
                                                    <a href="javascript:void(0)" class="social-link rounded-3 "><i class="uil uil-facebook-f"></i></a>
                                                </li>
                                                <li class="w-10 h-10 text-lg leading-10 transition-all duration-300 ease-in-out rounded bg-sky-500/20 text-sky-500 hover:bg-sky-500 hover:text-white">
                                                    <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-info"><i class="uil uil-twitter-alt"></i></a>
                                                </li>
                                                <li class="w-10 h-10 text-lg leading-10 text-green-500 transition-all duration-300 ease-in-out rounded bg-green-500/20 hover:bg-green-500 hover:text-white">
                                                    <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-success"><i class="uil uil-whatsapp"></i></a>
                                                </li>
                                                <li class="w-10 h-10 text-lg leading-10 text-red-500 transition-all duration-300 ease-in-out rounded bg-red-500/20 hover:bg-red-500 hover:text-white">
                                                    <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-danger"><i class="uil uil-phone-alt"></i></a>
                                                </li>
                                            </ul> #}
                                        </div>
                                    </div>
                                    {# <div class="p-5">
                                        <div class="pb-5 border-b border-gray-100/50 dark:border-neutral-600">
                                            <h6 class="mb-5 font-semibold text-gray-900 text-17 dark:text-gray-50">Documents</h6>
                                            <ul class="">
                                                <li>
                                                    <div class="flex items-center mt-4 ">
                                                        <div class="text-2xl text-gray-500 shrink-0">
                                                            <i class="uil uil-file"></i>
                                                        </div>
                                                        <div class="ml-4">
                                                            <h6 class="mb-0 text-gray-900 text-16 dark:text-gray-50">Resume.pdf</h6>
                                                            <p class="mb-0 text-gray-500 dark:text-gray-300">1.25 MB</p>
                                                        </div>
                                                        <div class="ml-auto text-xl">
                                                            <a href="assets/images/dark-logo.png" download="" class="text-gray-500 fs-20"><i class="uil uil-import"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="flex items-center mt-4 ">
                                                        <div class="text-2xl text-gray-500 shrink-0">
                                                            <i class="uil uil-file"></i>
                                                        </div>
                                                        <div class="ml-4">
                                                            <h6 class="mb-0 text-gray-900 text-16 dark:text-gray-50">Cover-letter.pdf</h6>
                                                            <p class="mb-0 text-gray-500 dark:text-gray-300">1.25 MB</p>
                                                        </div>
                                                        <div class="ml-auto text-xl">
                                                            <a href="assets/images/dark-logo.png" download="" class="text-gray-500 fs-20"><i class="uil uil-import"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                    </div> #}
                                    <div class="p-5">
                                        <h6 class="mb-3 font-semibold text-gray-900 text-17 dark:text-gray-50">Contact</h6>
                                        <ul class="mb-0">
                                            <li class="pb-3">
                                                <div class="flex">
                                                    <label class="w-32 font-medium text-gray-900 dark:text-gray-50">Email</label>
                                                    <div>
                                                        <p class="mb-0 text-gray-500 text-break dark:text-gray-300">
                                                            {{ advert.user.email }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            {# <li class="pb-3">
                                                <div class="flex">
                                                    <label class="w-32 font-medium text-gray-900 dark:text-gray-50">Phone Number</label>
                                                    <div>
                                                        <p class="mb-0 text-gray-500 dark:text-gray-300">+2 345 678 0000</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="pb-3">
                                                <div class="flex">
                                                    <label class="w-32 font-medium text-gray-900 dark:text-gray-50">Location</label>
                                                    <div>
                                                        <p class="mb-0 text-gray-500 dark:text-gray-300">New Caledonia</p>
                                                    </div>
                                                </div>
                                            </li> #}
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-span-12 lg:col-span-8">
                                <div class="border rounded border-gray-100/50 dark:border-neutral-600 nav-tabs bottom-border-tab">
                                    {# tab #}
                                    <div class="px-6 py-0 border-b border-gray-100/50 dark:border-neutral-600">
                                    
                                        <ul class="items-center text-sm font-medium text-center text-gray-700 nav md:flex">
                                            <li class="nav-item" role="presentation">
                                                <a href="{{ path('app_profile') }}" class="inline-block w-full py-4 px-[18px] dark:text-gray-50">
                                                    All Adverts
                                                </a>
                                            </li>
                                            <li class="active" role="presentation">
                                                <button class="inline-block w-full py-4 px-[18px] dark:text-gray-50 active" data-tw-toggle="tab" type="button" data-tw-target="settings-tab">
                                                    Edit Advert
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                     
                                    {# tab content #}
                                    <div class="p-6 tab-content">

                                        <div class="w-full tab-pane" id="settings-tab">
                                            <div class="pt-4 space-x-8">
                                                <form action="{{ path('app_advert_edit', { id: advert.id }) }}" method="post" enctype="multipart/form-data">
                                                    <div>
                                                        {# <h5 class="mb-3 text-gray-900 fs-17 fw-semibold dark:text-gray-50">My Account</h5>
                                                        <div class="text-center">
                                                            <div class="relative mb-4">
                                                                <img src="assets/images/user/img-02.jpg" class="w-40 h-40 p-1 mx-auto border-2 rounded-full border-gray-100/50 dark:border-neutral-600" id="profile-img" alt="">
                                                                <div class="absolute w-8 h-8 leading-8 text-center rounded-full shadow-md bottom-2 right-[42%] z-40 bg-gray-50 dark:bg-neutral-700 dark:text-white">
                                                                    <input id="profile-img-file-input" type="file" class="hidden" onchange="previewImg()">
                                                                    <label for="profile-img-file-input" class="">
                                                                        <i class="uil uil-edit"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div> #}
                                                        <div>
                                                            <div class="grid grid-cols-12 gap-4">
                                                                {% if form_errors(form) %}
                                                                    <div class="col-span-12 lg:col-span-6 relative px-4 py-3 text-red-500 rounded-md bg-red-500/20 alert-dismissible mb-4" role="alert">
                                                                        {{ form_errors(form) }}
                                                                        <button class="absolute text-2xl text-gray-400 alert-close top-2 ltr:right-4 rtl:left-4"><i class="mdi mdi-close"></i></button>
                                                                    </div>
                                                                {% endif %}

                                                                {{ form_row(form._token) }}
                                                                <div class="col-span-12 lg:col-span-6">
                                                                    <div class="mb-3">
                                                                        <label for="title" class="text-sm text-gray-900 dark:text-gray-50">Title</label>
                                                                        <input type="text" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="title" name="{{ field_name(form.title) }}" value="{{ field_value(form.title) }}" required>
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-span-12 lg:col-span-6">
                                                                    <div class="mb-3">
                                                                        <label for="price" class="text-sm text-gray-900 dark:text-gray-50">Price</label>
                                                                        <div class="flex items-center gap-1">
                                                                            <select class="w-fit mt-1 border-gray-100/50 rounded text-gray-500" name="{{ field_name(form.currency) }}" value="{{ field_value(form.currency) }}">
                                                                                <option value="£" {% if field_value(form.currency) is same as('£') %}selected{% endif %}
                                                                                >Pound (£)</option>
                                                                                <option value="€" {% if field_value(form.currency) is same as('€') %}selected{% endif %}
                                                                                >Euro (€)</option>
                                                                                <option value="$" {% if field_value(form.currency) is same as('$') %}selected{% endif %}
                                                                                >Dollar ($)</option>
                                                                                <!-- <option value="₦" {% if field_value(form.currency) is same as('₦') %}selected{% endif %}
                                                                                >Naira (₦)</option> -->
                                                                            </select>
                                                                            <input type="number" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="price" name="{{ field_name(form.price) }}" value="{{ field_value(form.price) }}" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-span-12">
                                                                    <div class="mb-3">
                                                                        <label for="description" class="form-label dark:text-gray-300">Description</label>
                                                                        <textarea class="w-full mt-1 text-sm rounded border-gray-100/50 dark:bg-transparent dark:border-neutral-600 text-gray-500 dark:text-gray-300" id="description" rows="3" name="{{ field_name(form.description) }}" required>{{ field_value(form.description) }}</textarea>
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-span-12 lg:col-span-6">
                                                                    <div class="mb-3">
                                                                        <label for="country" class="text-sm text-gray-900 dark:text-gray-50">Country</label>
                                                                        <input type="text" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="country" name="{{ field_name(form.country) }}" value="{{ field_value(form.country) }}" required>
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-span-12 lg:col-span-6">
                                                                    <div class="mb-3">
                                                                        <label for="city" class="text-sm text-gray-900 dark:text-gray-50">City</label>
                                                                        <input type="text" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="city" name="{{ field_name(form.city) }}" value="{{ field_value(form.city) }}" required>
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-span-12">
                                                                    <div class="mb-3 ">
                                                                        <div class="mb-3">
                                                                            <label for="formFileLg" class="inline-block mb-2 text-neutral-700 dark:text-neutral-200">Upload Image</label >
                                                                            <input class="relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-gray-100/50 bg-clip-padding pr-3 py-[0.32rem] font-normal leading-[2.15] text-neutral-700 transition duration-300 ease-in-out file:mr-2 file:-my-[0.32rem] file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-gray-100/30 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary"
                                                                                id="formFileLg" type="file" name="{{ field_name(form.image) }}" value="{{ field_value(form.image) }}" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-span-12 flex items-center gap-4 flex-wrap">
                                                                    {% for category in categories %}
                                                                        <div class="form-check">
                                                                            <input class="align-middle rounded cursor-pointer focus:ring-0 focus:ring-offset-0 bg-gray-50 border-gray-100/50 checked:bg-violet-500 checked:border-transparent dark:bg-transparent dark:border-neutral-600 dark:checked:bg-violet-500 dark:checked:border-transparent" type="checkbox" value="{{ category.id }}" id="{{ category.name }}" name="categories[]"
                                                                            {% if category in advert.categories %}
                                                                                checked
                                                                            {% endif %}
                                                                            >
                                                                            <label class="ml-1 align-middle dark:text-gray-300" for="{{ category.name }}">
                                                                                {{ category.name }}
                                                                            </label>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-span-12 flex justify-end">
                                                                    <button type="submit" class="text-white border-transparent btn group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=sky]:bg-sky-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=pink]:bg-pink-500 group-data-[theme-color=blue]:bg-blue-500">Update</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end row-->
                                                    </div>
                                                    <!--end account-->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            <!-- End grid -->

            

        </div>
    </div>
{% endblock %}